body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-width-products{
  width: 18rem;
  min-height: 250px;
}

.card-list-element-pro{
  list-style: none;
  width: 18rem;
  min-height: 250px;
  margin: 10px;
}
.img-products{
  height: 250px;
}
.des-titie-w{
  width: 100%;
  height: 50px;
  overflow: hidden;
}